{% extends "financeapp/index.html" %}
{% load static %}
{% block title %}Gestor de Finanças - Extrato{% endblock title %}

{% block nav %}
    <nav class="navbar navbar-expand-lg pr-0">
        <a class="navbar-brand pl-4" href="{% url 'financeapp:extract' %}"><strong>EXTRATO</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <form class="form-inline ml-auto" action="{% url 'financeapp:extract' %}" method="GET">
                <div class="form-group">
                    <label for="start_date">Data Inicial:</label>
                    <input type="date" class="form-control mx-2" id="start_date" name="start_date" value="{{ start_date }}">
                </div>
                <div class="form-group">
                    <label for="end_date">Data Final:</label>
                    <input type="date" class="form-control mx-2" id="end_date" name="end_date" value="{{ end_date }}">
                </div>
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>
        </div>
    </nav>
{% endblock nav %}

{% block contentnav %}
    <form class="form-inline my-2 my-lg-0" action="{% url 'financeapp:extract' %}" method="GET">
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
{% endblock contentnav %}

{% block content %}
    <div class="table-extract pt-3">
        <h6>GANHOS</h6>
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Recorrente</th>
                    <th>Categoria</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for earning in earnings %}
                {% include 'financeapp/includes/modal-confirm-delete.html' %}
                {% include 'financeapp/includes/modal-edit.html' %}
                <tr>
                    <td>
                        {% if earning.description|length > 30 %}
                            {{ earning.description|slice:":30" }}...
                        {% else %}
                            {{ earning.description }}
                        {% endif %}
                    </td>
                    <td>R$ {{ earning.value }}</td>
                    <td>{{ earning.date }}</td>
                    <td>
                        {% if earning.recurrence %}
                        Sim
                        {% else %}
                        Não
                        {% endif %}
                    </td>
                    <td>{{ earning.category }}</td>
                    <td>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalUpdateEarning{{ earning.id }}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteEarning{{ earning.id }}">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h6>DESPESAS</h6>
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Recorrente</th>
                    <th>Categoria</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                {% include 'financeapp/includes/modal-confirm-delete.html' %}
                {% include 'financeapp/includes/modal-edit.html' %}
                <tr>
                    <td>
                        {% if expense.description|length > 30 %}
                        {{ expense.description|slice:":30" }}...
                        {% else %}
                        {{ expense.description }}
                        {% endif %}
                    </td>
                    <td>R$ {{ expense.value }}</td>
                    <td>{{ expense.date }}</td>
                    <td>
                        {% if expense.recurrence %}
                        Sim
                        {% else %}
                        Não
                        {% endif %}
                    </td>
                    <td>{{ expense.category }}</td>
                    <td>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalUpdateExpense{{ expense.id }}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteExpense{{ expense.id }}">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}