{% extends "financeapp/index.html" %}
{% load static %}
{% block title %}Gestor de Finanças - Extrato{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/extract.css' %}">
{% endblock styles %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-white pr-0">
        <a class="navbar-brand pl-4" href="{% url 'financeapp:extract' %}"><strong>EXTRATO</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <form class="form-inline ml-auto" action="{% url 'financeapp:extract' %}" method="GET">
                <div class="form-group">
                    <label for="start_date">Data Inicial:</label>
                    <input type="date" class="form-control mx-2" id="start_date" name="start_date" value="{{ start_date }}">
                </div>
                <div class="form-group">
                    <label for="end_date">Data Final:</label>
                    <input type="date" class="form-control mx-2" id="end_date" name="end_date" value="{{ end_date}}">
                </div>
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>
        </div>
    </nav>
{% endblock nav %}

{% block content %}
    <div class="table-extract pt-5">
        <h6>GANHOS</h6>
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Recorrente</th>
                    <th>Categoria</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for earning in earnings %}
                <!-- Modal earning -->
                <div class="modal fade" id="deleteModalEarning" tabindex="-1"
                    aria-labelledby="deleteModalEarningLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalEarning">Confirmar exclusão</h5>
                            </div>
                            <div class="modal-body">
                                <p>Deseja realmente deletar este item?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                <a href="{% url 'financeapp:deleteearnings' earning.id %}" class="btn btn-danger">Deletar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <tr>
                    <td>{{ earning.description }}</td>
                    <td>R$ {{ earning.value }}</td>
                    <td>{{ earning.date }}</td>
                    <td>
                        {% if earning.recurrence %}
                        Sim
                        {% else %}
                        Não
                        {% endif %}
                    </td>
                    <td>{{ earning.category }}</td>
                    <td>
                        <a href="#" class="btn btn-info">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <button type="button" id="delete-earning-modal" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h6>DESPESAS</h6>
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Recorrente</th>
                    <th>Categoria</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <!-- Modal expense -->
                <div class="modal fade" id="deleteModalExpense" tabindex="-1"
                    aria-labelledby="deleteModalExpenseLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalExpense">Confirmar exclusão</h5>
                            </div>
                            <div class="modal-body">
                                <p>Deseja realmente deletar este item?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                <a href="{% url 'financeapp:deleteexpenses' expense.id %}" class="btn btn-danger">Deletar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <tr>
                    <td>{{ expense.description }}</td>
                    <td>R$ {{ expense.value }}</td>
                    <td>{{ expense.date }}</td>
                    <td>
                        {% if expense.recurrence %}
                        Sim
                        {% else %}
                        Não
                        {% endif %}
                    </td>
                    <td>{{ expense.category }}</td>
                    <td>
                        <a href="#" class="btn btn-info">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <button type="button" id="delete-expense-modal" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}