body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register {
    display: flex;
    justify-content: center;
}

.forget {
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: center;
}